* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --low-dimension: min(100vh, 100vw)
  --cell-size: calc(var(var(--low-dimension)) / 10);
  --color-selected: green;
  --color-hover: blue;
}

html {
  background-color: black;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--cell-size);
  width: var(--cell-size);
  font-size: var(--cell-size);
  user-select: none;
}

.clickable {
  cursor: pointer;
}

.clickable.clickable.clickable.clickable:hover {
  background-color: var(--color-hover);
}

.cell:nth-of-type(even),
.cell:nth-of-type(odd) {
  background-color: #ddd;
}

.row:nth-of-type(odd) .cell:nth-of-type(odd),
.row:nth-of-type(even) .cell:nth-of-type(even) {
  background-color: #fff;
}

.labelNum {
  font-size: 20px;
  color: red;
}